@import "../base/font.scss";
@import "../components/btn.scss";

$trs: 0.5s;

.nav-aside{
	position: fixed;
	width: 300px;
	height: 100vh;
	background-color: $clr_blue_L0;
	.nav-aside-logo{
		padding: 25px 50px 20px;
		text-align: start;
		img{
			width: 150px;
		}
	}
	nav{
		height: calc(100vh - 110px);
		overflow-y: scroll;
		&::-webkit-scrollbar-track{
			background-color: $clr_blue_L3;
		}
		&::-webkit-scrollbar{
			width: 6px;
		}
		&::-webkit-scrollbar-thumb{
			background-color: $clr_blue_L2;
			border-radius: 4px;
		}
		.parent-list{
			position: relative;
			height: fit-content;
			padding: 35px;
			>li{
				>a{
					@include font(20px);
					padding: 10px 15px;
					margin: 10px 0;
					display: block;
					color: #fff;
					// transition: $trs;
					&:hover{
						color: $clr_blue_L3;
						transition: $trs;
						.plus-minus span{
							background-color: $clr_blue_L3;
							transition: $trs;
						}
					}
					span{
						color: inherit;
						vertical-align: top;
					}
					.plus-minus{
						display: inline-block;
						position: relative;
						vertical-align: bottom;
						width: 13px;
						height: 13px;
						span{
							position: absolute;
							width: 13px;
							height: 1.4px;
							background-color: #fff;
							transition: 0.5s;
							&:first-child{
								transform: rotate(0deg);
							}
							&:last-child{
								transform: rotate(90deg);
							}
						}
					}
				}
				.child-list{
					display: none
				}
				&:first-child.on{
					.child-list{
						display: block;
						padding: 10px 46px 0;
						text-align: start;
						a{
							@include font(18px);
							color: $clr_blue_L3;
							position: relative;
							&:hover{
								color: #fff;
							}
						}
						a.show{
							&::before{
								content: '>';
								position: absolute;
								left: -20px;
							}
						}
						li+li{
							margin-top: 10px;
						}
					}
				}
			}
			>li.on{
				>a{
                    background: $clr_blue_L2;
					.plus-minus span{
						&:first-child{
							transform: rotate(180deg);
							transition: 0.5s;
						}
						&:last-child{
							transform: rotate(-180deg);
							transition: 0.5s;
						}
					}
                }
			}
		}
	}
}