@import "../base/font.scss";
@import "../components/btn.scss";

header{
    width: 100%;
    padding: 20px 40px;
    background: $clr_blue_L2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        &:last-child{
            cursor: pointer;
            margin-left: 20px;
            &:hover{
                color: $clr_blue_L3;
            }
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    min-height: calc(100vh - 80px);
    .btns{
        text-align: end;
        button{
            &:not(:last-child){
                margin-right: 10px;
            }
        }
    }
    .tabs{
        flex-grow: 1;
    }
}